@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar .active {
  background-color: white;
  color: black;
}

.hero {
  font-family: "Dune Rise";
}

.primary-shadow {
  @apply shadow-lg shadow-primary
}

.joinUs {
  @apply mx-auto bg-primary text-white rounded-md px-3 py-2 pl-8 pr-8 text-xl font-medium  h-[44px]
}

.joinUs:active {
  @apply bg-white text-primary primary-shadow
}

.subtitle {
  @apply uppercase text-2xl
}

.feature-avatar-box {
  @apply flex items-center justify-center border-2 rounded-xl border-white primary-shadow w-[137px] h-[124px] 
}

.feature-avatar {
  @apply w-[35px] h-[35px] md:w-[65px] md:h-[65px]
}

.feature-description {
  @apply max-w-[800px] min-h-[102px] leading-5 border-2 primary-shadow p-4
}
* * {
  font-family: "Basis Grotesque Arabic Pro";
}