@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar .active {
  background-color: white;
  color: black;
}

.hero {
  font-family: "Dune Rise";
}

.joinUs {
  @apply mx-auto bg-primary text-white rounded-md px-3 py-2 pl-8 pr-8 text-xl font-medium  h-[44px]
}

.joinUs:active {
  @apply bg-white text-primary border-primary border-b-4 border-l-2 border-r-2
}

* * {
  font-family: "Basis Grotesque Arabic Pro";
}